<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Astrapay Dashboard</title>
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <div class="row">
                    <div class="col-md-2">
                         <!-- Sidebar -->
                        <app-sidebar></app-sidebar>
                         <!-- End of Sidebar -->
                    </div>
                <div class="col-md-10">
                <!-- Topbar -->
                <app-navbar 
                    style ="position: fixed; z-index: 10"
                    class="col-md-10">
                </app-navbar>
                <!-- End of Topbar -->  
                <!-- Begin Page Content -->
                <div class="container-fluid" style="margin-top: 10vh;">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Transaction Tables</h1>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tanggal Transaksi</th>
                                            <th>Username Pembeli</th>
                                            <th>Nama Material</th>
                                            <th>Jumlah Beli</th>
                                            <th>Total Harga</th>
                                            <th>Status Payment</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of transaction ">
                                            <th scope="row">{{ data.id }}</th>
                                            <td>{{ data.tanggalTransaksi }}</td>
                                            <td>{{ data.user.username }}</td>
                                            <td>{{ data.product.namaMaterial }}</td>
                                            <td>{{ data.kuantitas }}</td>
                                            <td>{{ data.totalHarga }}</td>
                                            <!-- <td>{{ data.paid }}</td> -->
                                            <td>
                                              <span
                                                class="badge text-bg-success"
                                                [ngClass]="
                                                data.paid
                                                    ? 'text-bg-success'
                                                    : 'text-bg-danger'
                                                "
                                              >
                                                {{ data.paid ? "Paid" : "Unpaid" }}
                                              </span>
                                            </td>
                                            <td>
                                                <button
                                                  class="btn"
                                                  style="
                                                    border: 0;
                                                    background-color: #1a53c0;
                                                    font-size: small;
                                                    font-weight: bold;
                                                    color: white;
                                                  "
                                                  (click)="openModalDetail(templateDetail)"
                                                  (click)="getDetail(data)"
                                                >
                                                  Details
                                                </button>
                                            </td>

                                            <ng-template #templateDetail>
                                                <div class="modal-header">
                                                  <h4 class="modal-title pull-left">
                                                    User Details
                                                  </h4>
                                                  <button
                                                    type="button"
                                                    class="btn-close close pull-right"
                                                    aria-label="Close"
                                                    (click)="modalRef?.hide()"
                                                  >
                                                    <span
                                                      aria-hidden="true"
                                                      class="visually-hidden"
                                                      >&times;</span
                                                    >
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  <div class="col-md-12">
                                                    <label for="inputNama" class="form-label"
                                                      >Nama Lengkap</label
                                                    >
                                                    <input
                                                      type="text"
                                                      name="name"
                                                      class="form-control"
                                                      value="{{ transactionDetail.user.fullname }}"
                                                      readonly
                                                    />
                                                  </div>
                      
                                                  <div class="col-md-12">
                                                    <label for="inputNoHP" class="form-label"
                                                      >No Handphone</label
                                                    >
                                                    <input
                                                      type="text"
                                                      name="noHp"
                                                      class="form-control"
                                                      value=" {{ transactionDetail.user.noHandphone }}" 
                                                      readonly
                                                    />
                                                  </div>
                      
                                                  <div class="col-md-12">
                                                    <label for="inputEmail" class="form-label"
                                                      >Alamat</label
                                                    >
                                                    <input
                                                      type="text"
                                                      name="email"
                                                      class="form-control"
                                                      value=" {{transactionDetail.user.alamat}} "
                                                      readonly
                                                    />
                                                  </div>
                      
                                                  <div class="col-12">
                                                    <label
                                                      for="inputTanggalLahir"
                                                      class="form-label"
                                                      >Tanggal Pembayaran</label
                                                    >
                                                    
                                                    <ng-container *ngIf="transactionDetail.payment !== null; else paymentNull">
                                                        <input 
                                                      type="text"
                                                      name="tanggalLahir"
                                                      class="form-control"
                                                      value=" {{transactionDetail.payment.tanggalPembayaran}} "
                                                      readonly
                                                    />
                                                    </ng-container>
                                                    <ng-template #paymentNull>
                                                        <input 
                                                        type="text"
                                                        name="tanggalLahir"
                                                        class="form-control"
                                                        value="not paid"
                                                        readonly
                                                      />
                                                    </ng-template>

                                                  </div>

                                                  <div class="col-12">
                                                    <label
                                                      for="inputTanggalLahir"
                                                      class="form-label"
                                                      >Waktu Pembayaran</label
                                                    >
                                                    
                                                    <ng-container *ngIf="transactionDetail.payment !== null; else paymentNull2">
                                                        <input 
                                                      type="text"
                                                      name="tanggalLahir"
                                                      class="form-control"
                                                      value=" {{transactionDetail.payment.waktuPembayaran}} "
                                                      readonly
                                                    />
                                                    </ng-container>
                                                    <ng-template #paymentNull2>
                                                        <input 
                                                        type="text"
                                                        name="tanggalLahir"
                                                        class="form-control"
                                                        value="not paid"
                                                        readonly
                                                      />
                                                    </ng-template>

                                                  </div>
                       
                                                  <div class="modal-footer">
                                                    <button
                                                      type="button"
                                                      class="btn btn-secondary"
                                                      data-bs-dismiss="modal"
                                                      (click)="modalRef?.hide()"
                                                    >
                                                      Tutup
                                                    </button>
                                                  </div>
                                                </div>
                                              </ng-template>
                      
                        
                                        </tr>
                                    </tbody>        
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>

