<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Astrapay Dashboard</title>
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <div class="row">
                    <div class="col-md-2">
                         <!-- Sidebar -->
                        <app-sidebar></app-sidebar>
                         <!-- End of Sidebar -->
                    </div>
                <div class="col-md-10">
                <!-- Topbar -->
                <app-navbar 
                    style ="position: fixed; z-index: 10"
                    class="col-md-10">
                </app-navbar>
                <!-- End of Topbar -->  
                <!-- Begin Page Content -->
                <div class="container-fluid" style="margin-top: 10vh;">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Product Tables</h1>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div>

                        <!-- Modal -->
                        <button
                        style="width: 120px ;margin-right: 20px; margin-bottom: 10px; margin-top: 20px; margin-left: 20px;"
                        type="button"
                        class="btn btn-primary"
                        (click)="openModal(templateAdd)"
                        >
                        Add Product
                        </button>
                        <!-- End Modal -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nama Material</th>
                                            <th>Harga Satuan</th>
                                            <th>Stock</th>
                                            <th>Satuan</th>
                                            <th>Photo</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of product">
                                            <th scope="row">{{ data.id }}</th>
                                            <td>{{ data.namaMaterial }}</td>
                                            <td>{{ data.hargaSatuan | currency: "Rp ": 'symbol': '3.0'}}</td>
                                            <td>{{ data.stocks }}</td>
                                            <td> {{ data.satuan }}</td>
                                            <td><a href="#"
                                              ><img
                                                src="{{ data.photo }}"
                                                alt=""
                                                width="180"
                                                height="120"
                                            /></a></td>
                                            <td>
                                              <button
                                              type="submit"
                                              class="btn"
                                              style="margin-right: 20px; background-color: #1A53C0; color: white; font-size: medium; font-weight: bold;"
                                              (click)="doAction(templateEdit); doEditModal(data)"
                                            >
                                              Edit
                                            </button>
                                            <button
                                              type="submit"
                                              class="btn"
                                              style="margin-right: 20px; background-color: #C70039; color: white; font-size: medium; font-weight: bold;"
                                              (click)="
                                                doAction(templateDelete); getDeleteModal(data)
                                              "
                                            >
                                              Delete
                                            </button>

                                          </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                <!-- /.container-fluid -->
            </div>  

            <!-- Add Modal -->
            
          <ng-template #templateAdd>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Add Product</h4>
              <button
                type="button"
                class="btn-close close pull-right"
                aria-label="Close"
                (click)="modalRef?.hide()"
              >
                <span aria-hidden="true" class="visually-hidden">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formAddProduct" (ngSubmit)="doAddProduct()"class="row g-3">
                <div class="col-md-12">
                  <label for="inputNama" class="form-label">Nama Material</label>
                  <input type="text" class="form-control" id="inputNama" formControlName="namaMaterial" name="namaMaterial"
                  [ngClass]="errorControl['namaMaterial'].valid ? 'is-valid' : (errorControl['namaMaterial'].dirty || errorControl['namaMaterial'].touched) ? 'is-invalid' : ''" />
                  <ng-container *ngIf="(errorControl['namaMaterial'].dirty || errorControl['namaMaterial'].touched) && errorControl['namaMaterial'].errors">
                    <div class="text-danger" *ngIf="errorControl['namaMaterial'].errors['required']">Please enter the material name</div>  
                  </ng-container>
                </div>
                <div class="col-md-12">
                  <label for="inputHarga" class="form-label">Harga Satuan</label>
                  <input type="text" class="form-control" id="inputHarga" formControlName="hargaSatuan" name="hargaSatuan" [ngClass]="errorControl['hargaSatuan'].valid ? 'is-valid' : (errorControl['hargaSatuan'].dirty || errorControl['hargaSatuan'].touched) ? 'is-invalid' : ''" />
                  <ng-container *ngIf="(errorControl['hargaSatuan'].dirty || errorControl['hargaSatuan'].touched) && errorControl['hargaSatuan'].errors">
                    <div class="text-danger" *ngIf="errorControl['hargaSatuan'].errors['required']">Please enter the price</div>  
                  </ng-container>
                </div>
                <div class="col-md-12">
                  <label for="inputStocks" class="form-label">Stocks</label>
                  <input type="text" formControlName="stocks" name="stocks" class="form-control" id="inputStocks" [ngClass]="errorControl['stocks'].valid ? 'is-valid' : (errorControl['stocks'].dirty || errorControl['stocks'].touched) ? 'is-invalid' : ''" />
                  <ng-container *ngIf="(errorControl['stocks'].dirty || errorControl['stocks'].touched) && errorControl['stocks'].errors">
                    <div class="text-danger" *ngIf="errorControl['stocks'].errors['required']">Please enter the stocks</div>  
                  </ng-container>
                </div>
                <div class="col-md-12">
                  <label for="inputStocks" class="form-label">Satuan</label>
                  <input type="text" formControlName="satuan" name="satuan" class="form-control" id="inputAlamat" [ngClass]="errorControl['satuan'].valid ? 'is-valid' : (errorControl['satuan'].dirty || errorControl['satuan'].touched) ? 'is-invalid' : ''" />
                  <ng-container *ngIf="(errorControl['satuan'].dirty || errorControl['satuan'].touched) && errorControl['satuan'].errors">
                    <div class="text-danger" *ngIf="errorControl['satuan'].errors['required']">Please enter the stocks</div>  
                  </ng-container>
                </div>
                <div class="col-12">
                  <label for="inputFile" class="form-label">Photo</label>
                  <input type="file" accept="image/png, image/jpeg, image/gif" class="form-control" name="inputFile" id="inputFile" (change)="showPreview($event)">
                  <ng-container *ngIf="photo">
                    <img src="{{ photo }}" alt="" width="200px">
                  </ng-container> 
                </div>
  
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Tutup
                  </button>
                  <button type="submit" class="btn btn-primary" (click)="modalRef?.hide()">Simpan</button>
                </div>
              </form>
            </div>
          </ng-template>  

          <!-- Edit Modal -->

          <ng-template #templateEdit>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Edit Product</h4>
              <button
                type="button"
                class="btn-close close pull-right"
                aria-label="Close"
                (click)="modalRef?.hide()"
              >
                <span aria-hidden="true" class="visually-hidden">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formEditProduct" (ngSubmit)="doEditProduct()"class="row g-3">
                <div class="col-md-12">
                  <label for="inputNama" class="form-label">Nama Material</label>
                  <input type="text" class="form-control" id="inputNama" formControlName="namaMaterial" name="namaMaterial"/>
                </div>
                <div class="col-md-12">
                  <label for="inputHarga" class="form-label">Harga Satuan</label>
                  <input type="number" class="form-control" id="inputHarga" formControlName="hargaSatuan" name="hargaSatuan" [ngClass]="errorControl['hargaSatuan'].valid ? 'is-valid' : (errorControl['hargaSatuan'].dirty || errorControl['hargaSatuan'].touched) ? 'is-invalid' : ''" />
                </div>
                <div class="col-md-12">
                  <label for="inputStocks" class="form-label">Stocks</label>
                  <input type="number" formControlName="stocks" name="stocks" class="form-control" id="inputStocks" [ngClass]="errorControl['stocks'].valid ? 'is-valid' : (errorControl['stocks'].dirty || errorControl['stocks'].touched) ? 'is-invalid' : ''" />
                </div>
                <div class="col-md-12">
                  <label for="inputSatuan" class="form-label">Satuan</label>
                  <input type="text" formControlName="satuan" name="satuan" class="form-control" id="inputSatuan" [ngClass]="errorControl['satuan'].valid ? 'is-valid' : (errorControl['satuan'].dirty || errorControl['satuan'].touched) ? 'is-invalid' : ''" />
                </div>
                <div class="col-12">
                  <label for="inputFile" class="form-label">Photo</label>
                  <input type="file" accept="image/png, image/jpeg, image/gif" formControlName="photo" class="form-control" name="photo" id="inputFile" (change)="showPreview($event)">
                  <ng-container *ngIf="photo">
                    <img src="{{ photo }}" alt="" width="150px">
                  </ng-container> 
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Tutup
                  </button>
                  <button type="submit" class="btn btn-primary" (click)="modalRef?.hide()">Simpan Perubahan</button>
                </div>
              </form>
            </div>
          </ng-template> 

          <!-- Delete Modal -->
         
        <ng-template #templateDelete (ngSubmit)="doDeleteProduct()">
          <div class="modal-header">
            <h5 class="modal-title pull-left">Delete Product</h5>
            <button
              type="button"
              class="btn-close close pull-right"
              aria-label="Close"
              (click)="modalRef?.hide()"
            ></button>
          </div>
          <div class="modal-body">
            <h6>
              Apakah Anda yakin ingin menghapus produk? "{{
                productDetail.namaMaterial
              }}"?
            </h6>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="modalRef?.hide()"
            >
              Batalkan
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              (click)="modalRef?.hide()"
              (click)="doDeleteProduct()"
            >
              Hapus
            </button>
          </div>
        </ng-template>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Astra Build 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

   
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
<!-- </body>

</html>  -->

