<section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
          
          <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #1a53c0;"></i>
            <span class="h1 fw-bold mb-0">Astra Build</span>
          </div>
  
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
  
            <form [formGroup]="formLogin" (ngSubmit)="doLogin()" class="row g-3 needs-validation">
  
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="form2Example18">Username</label>
                <input type="text" placeholder="Masukkan Username" id="form2Example18" formControlName="username" name="username" class="form-control form-control-lg" [ngClass]="errorControl['username'].valid ? 'is-valid' : (errorControl['username'].dirty || errorControl['username'].touched) ? 'is-invalid' : ''" />
                <ng-container *ngIf="(errorControl['username'].dirty || errorControl['username'].touched) && errorControl['username'].errors">
                  <div class="text-danger" *ngIf="errorControl['username'].errors['required']">Masukkan username</div>  
                </ng-container>
              </div>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="form2Example28">Password</label>
                <input type="password" placeholder="Masukkan Password" id="form2Example28" formControlName="password" name="password" class="form-control form-control-lg" />
                <ng-container *ngIf="(errorControl['password'].dirty || errorControl['password'].touched) && errorControl['password'].errors">
                  <div class="text-danger" *ngIf="errorControl['password'].errors['required']">Masukkan password</div>  
                </ng-container>
              </div>
  
              <div class="pt-1 mb-4">
                <button class="btn btn-primary"  type="submit" [disabled]="!formLogin.valid">Login</button>
              </div>
  
              <p>Tidak punya akun? <a routerLink="/register" class="link-info">Registrasi disini</a></p>
  
            </form>
  
          </div>

        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="assets/img/loginimage.png"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section>
