<section class="vh-100 bg-image"
  style="background-image: url('https://i0.wp.com/f1-styx.imgix.net/article/2020/03/09094911/hr3-model-gedung-high-rise-building-yang-unik.jpg?fit=1600%2C900&ssl=1');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Astra Build Registration Form</h2>

              <form [formGroup]="formRegister" (ngSubmit)="doRegister()">

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Username</label>
                  <input type="text" placeholder="Masukkan username" id="form3Example1cg" formControlName="username" name="username" class="form-control form-control-lg" 
                  [ngClass]="errorControl['username'].valid ? 'is-valid' : (errorControl['username'].dirty || errorControl['username'].touched) ? 'is-invalid' : ''" />
                  <ng-container *ngIf="(errorControl['username'].dirty || errorControl['username'].touched) && errorControl['username'].errors">
                    <div class="text-danger" *ngIf="errorControl['username'].errors['required']">Mohon masukkan username</div>  
                  </ng-container>
                </div>

                <div class="form-outline mb-4"> 
                  <label class="form-label" for="form3Example4cg">Password</label>
                  <input type="password" placeholder="Masukkan password" id="form3Example4cg" formControlName="password" name="password" class="form-control form-control-lg"
                  [ngClass]="errorControl['password'].valid ? 'is-valid' : (errorControl['password'].dirty || errorControl['password'].touched) ? 'is-invalid' : ''" />
                  <ng-container *ngIf="(errorControl['password'].dirty || errorControl['password'].touched) && errorControl['password'].errors">
                    <div class="text-danger" *ngIf="errorControl['password'].errors['required']">Mohon masukkan password</div>  
                  </ng-container>
                </div>

                <div class="form-group">
                <label>Konfirmasi Password</label>
                <input type="password" placeholder="Masukkan password kembali" class="form-control" formControlName="checkPassword" name="checkPassword"
                [ngClass]="errorControl['checkPassword'].valid ? 'is-valid' : (errorControl['checkPassword'].dirty || errorControl['checkPassword'].touched) ? 'is-invalid' : ''" />
                <ng-container *ngIf="!confirmPassword">
                    <div class="text-danger">Password Tidak Cocok</div>
                </ng-container>
                </div>

                <br>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Nama Lengkap</label>
                  <input type="text" placeholder="Masukkan nama lengkap" id="form3Example1cg" formControlName="fullname" name="fullname" class="form-control form-control-lg" />
                  <ng-container *ngIf="(errorControl['fullname'].dirty || errorControl['fullname'].touched) && errorControl['fullname'].errors">
                    <div class="text-danger" *ngIf="errorControl['fullname'].errors['required']">Masukkan nama lengkap</div>  
                  </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Nomor Handphone (+62)</label>
                  <input type="number" placeholder="Masukkan nomor handphone" id="form3Example3cg" formControlName="noHandphone" name="noHandphone" class="form-control form-control-lg" />
                  <ng-container *ngIf="(errorControl['noHandphone'].dirty || errorControl['noHandphone'].touched) && errorControl['noHandphone'].errors">
                    <div class="text-danger" *ngIf="errorControl['noHandphone'].errors['required']">Masukkan nomor handphone</div>  
                  </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Alamat</label>
                  <input type="text" placeholder="Masukkan alamat" id="form3Example1cg" formControlName="alamat" name="alamat" class="form-control form-control-lg" />
                  <ng-container *ngIf="(errorControl['alamat'].dirty || errorControl['alamat'].touched) && errorControl['alamat'].errors">
                    <div class="text-danger" *ngIf="errorControl['alamat'].errors['required']">Masukkan alamat</div>  
                  </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Tanggal Lahir</label>
                  <input type="Date" placeholder="Masukkan tanggal lahir" id="form3Example1cg" formControlName="dob" name="dob" class="form-control form-control-lg" />
                  <ng-container *ngIf="(errorControl['dob'].dirty || errorControl['dob'].touched) && errorControl['dob'].errors">
                    <div class="text-danger" *ngIf="errorControl['dob'].errors['required']">Masukkan tanggal lahir</div>  
                  </ng-container>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" [disabled]="!formRegister.valid || !confirmPassword">Registrasi</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Sudah punya akun? <a routerLink="/login"
                    class="fw-bold text-body"><u>Login disini</u></a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>