<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

   
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin/dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">AstraBuild</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="/admin/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Users -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="/admin/getAllUsers">
            <i class="fas fa-fw fa-table"></i>
            <span>Users</span></a>
    </li>

    <!-- Nav Item - Product -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="/admin/productFP">
            <i class="fas fa-box"></i>
            <span>Product</span></a>
    </li>

    <!-- Nav Item - Transaction -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="/admin/transaksiFP">
            <i class="fas fa-money-bill-alt"></i>
            <span>Transaction</span></a>
    </li>

    <!-- Nav Item - Profile -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="/admin/editUserFP">
            <i class="fas fa-user"></i>
            <span>Profile</span></a>
    </li>

    <!-- Nav Item - Sign Out -->
    <li class="nav-item active">
        <a class="nav-link" (click)="doClickLogout()">
            <i class="fas fa-sign-out-alt"></i>
            <span>Sign Out</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>

