<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Astrapay Dashboard</title>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <div class="row">
                    <div class="col-md-2">
                         <!-- Sidebar -->
                        <app-sidebar></app-sidebar>
                         <!-- End of Sidebar -->
                    </div>
                <div class="col-md-10">
                <!-- Topbar -->
                <app-navbar 
                    style ="position: fixed; z-index: 10"
                    class="col-md-10">
                </app-navbar>
                <!-- End of Topbar -->  

                <!-- Begin Page Content -->
                <div class="container-fluid" style="margin-top: 10vh;">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Users Tables</h1>

                    <!-- DataTales Example -->
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="120%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Fullname</th>
                                            <th>Tanggal_Lahir</th>
                                            <th>Alamat</th>
                                            <th>No Handphone</th>
                                            <th>Role</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr *ngFor="let usr of user">
                                                <th scope="row">{{ usr.id }}</th>
                                                <td>{{ usr.username }}</td>
                                                <td>{{ usr.fullname }}</td>
                                                <td>{{ usr.dob }}</td>
                                                <td>{{ usr.alamat }}</td>
                                                <td>{{ usr.noHandphone }}</td>
                                                <td>{{ usr.role }}</td>
                                            </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                  </div>
    
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
    </div>
              
                <!-- /.container-fluid -->

            <!-- </div> -->
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Astra Build 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        <!-- </div> -->
        <!-- End of Content Wrapper -->

    <!-- </div> -->
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

<!-- </body>

</html>  -->
