<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow d-flex" >
<!-- Sidebar Toggle (Topbar) -->
  <form class="form-inline">
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
      </button>
  </form>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

      <!-- Nav Item - Alerts -->

      <div class="topbar-divider d-none d-sm-block" ></div>

      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <section *ngIf="currentProfile$ | async as currentProfile">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small" >{{ currentProfile.fullname }} </span>
              </section>
              <img class="img-profile rounded-circle"
                  src="assets/img/undraw_profile.svg">
          </a>
      </li>
  </ul>
</nav>
