<!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      <!-- Layout container -->
      <div class="layout-page">

        <div class="row">
          <div class="col-md-2">
              <!-- Menu -->
              <app-sidebar></app-sidebar>
              <!-- / Menu -->
          </div>
          <div class="col-md-10">
              <!-- Content wrapper -->
              <div class="content-wrapper" style="padding-left: 20px;">

                <!-- Content -->
                <div id="content">
                  <div class="row">
                      <div class="col-md-12">
                          <app-navbar style="position: fixed; z-index: 10" class="col-md-10"></app-navbar>
        
                          <!-- Begin Page Content -->
                          <div class="container-fluid" style="margin-top: 10vh">
                              <!-- Page Heading -->
                              <h1 class="h3 mb-2 text-gray-800">Data</h1>
                              <p class="mb-4">Jumlah data user, produk, dan transaksi dalam aplikasi Astra Build.</p>
                              <!-- Product Card -->
                              <div class="col-6 col-md-4">
                                <div class="card info-card revenue-card">
                                    <div class="card-body">
                                    <h5 class="card-title">Products <span>| Total</span></h5>
                                      <div class="d-flex align-items-right">
                                        <div class="card-icon rounded-circle d-flex align-items-right justify-content-center"> <i class="bi bi-menu-button-wide"></i></div>
                                          <div class="ps-3">
                                            <h6>{{allProducts.length}}</h6>
                                            <!-- <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                              </div>

                              <br>
                              
                                <div class="col-xxl-4 col-md-6">
                                  <div class="card info-card sales-card">
                    
                                    <div class="card-body">
                                      <h5 class="card-title">Users <span>| Total</span></h5>
                    
                                      <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                          <i class="bi bi-cart"></i>
                                        </div>
                                        <div class="ps-3">
                                          <h6>{{allUsers.length}}</h6>
                                          <!-- <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <br>

                                <div class="col-xxl-4 col-md-6">
                                  <div class="card info-card sales-card">
                    
                                    <div class="card-body">
                                      <h5 class="card-title">Transaction <span>| Total</span></h5>
                    
                                      <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                          <i class="bi bi-cart"></i>
                                        </div>
                                        <div class="ps-3">
                                          <h6>{{allTransactions.length}}</h6>
                                          <!-- <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->
                                        </div>
                                      </div>
                                    </div>
                              </div>
                            </div>
                          </div>
                       </div>
                      </div>
                    </div>
                  </div>  
                </div>   
        </div>
  </div>