<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      <!-- Layout container -->
      <div class="layout-page">

        <div class="row">
          <div class="col-md-2">
              <!-- Menu -->
              <app-sidebar></app-sidebar>
              <!-- / Menu -->
          </div>
          <div class="col-md-10">
              <!-- Content wrapper -->
              <div class="content-wrapper" style="padding-left: 20px;">

                <!-- Content -->
                <div id="content">
                  <div class="row">
                      <div class="col-md-12">
                          <app-navbar style="position: fixed; z-index: 10" class="col-md-10"></app-navbar>
                      </div>
                  </div>
                </div>
                <div class="row" style="margin-top: 90px;">
                    <div class="col-lg-4">
                      <div class="card mb-4">
                        <div class="card-body text-center">
                          <img
                            src="assets/img/undraw_profile.svg"
                            alt="avatar"
                            class="rounded-circle img-fluid"
                            style="width: 150px"
                          />
                          <section *ngIf="currentProfile$ | async as currentProfile">
                            <h5 class="my-2">{{currentProfile.fullname}}</h5>
                          </section>
                          <section *ngIf="currentProfile$ | async as currentProfile">
                          <p class="text-muted mb-1">{{currentProfile.role}}</p>
                          </section>
                          <div class="d-flex justify-content-center mb-2">
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <form [formGroup]="formAddProduct" (ngSubmit)="doAddProduct()"class="row g-3"> -->
                    <div class="col-lg-8">
                      <div class="card mb-4">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <section *ngIf="currentProfile$ | async as currentProfile">
                                    <p class="textf">{{currentProfile.fullname}}</p>
                                </section>
                            </div>
                          </div>
                          <hr />
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Username</p>
                            </div>
                            <div class="col-sm-9">
                                <section *ngIf="currentProfile$ | async as currentProfile">
                                    <p class="textf">{{currentProfile.username}}</p>
                                </section>
                            </div>
                          </div>
                          <hr />
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Phone Number</p>
                            </div>
                            <div class="col-sm-9">
                                <section *ngIf="currentProfile$ | async as currentProfile">
                                    <p class="textf">{{currentProfile.noHandphone}}</p>
                                </section>
                            </div>
                          </div>
                          <hr />
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Roles</p>
                            </div>
                            <div class="col-sm-9">
                                <section *ngIf="currentProfile$ | async as currentProfile">
                                    <p class="textf">{{currentProfile.role}}</p>
                                </section>
                            </div>
                          </div>
                          <hr />
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <section *ngIf="currentProfile$ | async as currentProfile">
                                    <p class="textf">{{currentProfile.alamat}}</p>
                                </section>
                            </div>
                          </div>
                          <hr />
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Birth Date</p>
                            </div>
                            <div class="col-sm-9">
                                <section *ngIf="currentProfile$ | async as currentProfile">
                                    <p class="textf">{{currentProfile.dob}}</p>
                                </section>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
                
